# Global GitIgnore file

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/public/*
/config/database.yml
/config/secrets.yml

# Ignore application configuration
/config/application.yml

#ignore Mac OSX files
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
