#vertical-navigation {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
}

.right-content {
  padding: 24px;
}

md-content {
    background-color: #f5f5f5;
  }

.md-sidenav-right {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
}
.md-chips {
    margin-bottom: 18px;
  }

.add-new-user {
  max-width: 720px;
  width: 720px;
}

.content {
  background-color: #fff;
}
