# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e3ea188dab8005042f2d2d3d2898fe0a04b9fca0e440fdfb1f9b00bda35f1177ed121237450319d0a3b523d1a65945ee7155f0f3b0ddbd0dd8e130adcc571401

test:
  secret_key_base: 4cc93a4254c1a2978088b044bfde6e8f581063e4381f4b307191fdb977d649ae9f38c2ce18b0e510d13e6604b9c97e1a1ac53ce771baa267ccbc443fcd9f48b7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>