<div class="right-content">
  <md-content layout="column" ms-scroll flex md-whiteframe="2" class="content">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <md-button class="md-fab md-mini">
          <md-icon md-svg-icon="plus"></md-icon>
        </md-button>
        <span>Baza kandydatów</span>
        <div layout="row" layout-align="end center" flex>
          <div>
            <md-input-container md-no-float class="md-block">
              <input ng-model="searchText" placeholder="szukaj">
            </md-input-container>
          </div>
        </div>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table md-row-select multiple ng-model="query.selected">
        <thead md-head md-order="query.order" >
          <tr md-row>
            <th md-column md-order-by="name"><span>Nazwisko</span></th>
            <th md-column><span>Imię</span></th>
            <th md-column>Miasto</th>
            <th md-column>Dośw. łączne</th>
            <th md-column>Tech. #1</th>
            <th md-column>Dośw. tech. #1</th>
            <th md-column>Tech. #2</th>
            <th md-column>Dośw. tech. #2</th>
            <th md-column>Języki</th>
            <th md-column>Wyjazd krótki</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-row md-select="candidate" md-select-id="name" md-auto-select ng-repeat="candidate in CandidatesCtrl.candidates | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter:searchText">
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.city}}</td>
            <td md-cell>{{candidate.summaryexpirence | number: 1}}</td>
            <td md-cell>{{candidate.firsttechnology}}</td>
            <td md-cell>{{candidate.firsttechexp}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{CandidatesCtrl.candidates.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
  </md-content>
</div>
