<md-content flex>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" flex>
      <add-New-User-Directive flex></add-New-User-Directive>
  </md-sidenav>
<div class="right-content">
  <md-content layout="column" ms-scroll flex md-whiteframe="2" class="content">
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <md-button aria-label="add new user" class="md-fab md-mini" ng-click="CandidatesCtrl.addNewUser('right')">
          <md-icon md-svg-icon="plus"></md-icon>
        </md-button>
        <span>Baza kandydatów</span>
        <div layout="row" layout-align="end center" flex>
          <div>
            <md-input-container md-no-float class="md-block">
              <input ng-model="searchText" placeholder="szukaj">
            </md-input-container>
          </div>
        </div>
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table md-row-select multiple ng-model="query.selected">
        <thead md-head md-order="query.order" >
          <tr md-row>
            <th md-column md-order-by="name"><span>Nazwisko</span></th>
            <th md-column><span>Imię</span></th>
            <th md-column>Miasto</th>
            <th md-column>
              <span>
                Dośw. łączne
                <md-tooltip md-direction="top">
                  Doświadczenie łączne
                </md-tooltip>
              </span>
            </th>
            <th md-column>
              <span>
                Tech. #1
                <md-tooltip md-direction="top">
                  Technologia nr. 1
                </md-tooltip>
              </span>
            </th>
            <th md-column>
              <span>
                Dośw. tech. #1
                <md-tooltip md-direction="top">
                  Doświadczenie w technologii nr. 1
                </md-tooltip>
              </span>
            </th>
            <th md-column>
              <span>
                Tech. #2
                <md-tooltip md-direction="top">
                  Technologia nr. 2
                </md-tooltip>
              </span>
            </th>
            <th md-column>
              <span>
                Dośw. tech. #2
                <md-tooltip md-direction="top">
                  Doświadczenie w technologii nr. 2
                </md-tooltip>
              </span>
            </th>
            <th md-column>Języki</th>
            <th md-column>Wyjazd krótki</th>
            <th md-column>Akcje</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-row md-select="candidate" md-select-id="name" md-auto-select ng-repeat="candidate in CandidatesCtrl.candidates | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit | filter:searchText">
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.city}}</td>
            <td md-cell>{{candidate.summaryexpirence | number: 1}}</td>
            <td md-cell>{{candidate.firsttechnology}}</td>
            <td md-cell>{{candidate.firsttechexp}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>{{candidate.name}}</td>
            <td md-cell>
              <div layout="row">
                <md-button aria-label="edit {{candidate.name}}" ng-click="null" class="md-icon-button"><md-icon md-svg-icon="pencil" class="md-accent"></md-icon></md-button>
                <md-button aria-label="remove {{candidate.name}}" ng-click="null" class="md-icon-button"><md-icon md-svg-icon="delete" class="md-accent"></md-icon></md-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{CandidatesCtrl.candidates.length}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
  </md-content>
</div>
</md-content>
